@font-face {
	font-family: "Raleway";
	src: url('../fonts/Raleway-Bold\ .ttf') format("truetype");
	font-weight: 700; /* Bold */
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto-Medium\ .ttf') format("truetype");
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto-Regular\ .ttf') format("truetype");
	font-weight: 400; /* Regular */
	font-style: normal;
}

.container {
	background-color: FFFFFF;
	height: 80px;
	display: flex;
	
	align-items: center;
	padding: 0px 215px;
}

.logo {
	width: 20%;
	font-family: "Raleway";
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 0.6px;
}

.logo>span {
	color: #2196F3;
}

.logo a {
	color: inherit;
}

.logo a span {
	color: #2196F3;
}


nav {
	width: 40%;
}

nav a {
	color: #000000;
}

nav a:hover {
	color: #2196F3;
	transition: 0.3s ease;
} 

nav a.active {
	color: #2196F3;
	border-bottom: 1px solid #2196F3;
	cursor: default;
	pointer-events: none;
}

ul {
	width: 294px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-family: "Roboto";
}

.contact-info {
	display: flex;
	color: #757575;
	font-size: 14px;
	font-family: "Roboto";
	margin-left: auto;
}
.contact-info p {
	color: #757575; 
	display: flex;
	align-items: center;
	transition: 0.3s ease;
	margin-left: 50px;
}

.contact-info p:hover {
	color: #2196F3; 
}

.contact-info p img {
	filter: brightness(0) saturate(100%) invert(37%) sepia(0%) saturate(0%) hue-rotate(165deg) brightness(90%) contrast(90%);
	transition: filter 0.3s ease;
	margin-right: 10px; 
}

.contact-info p:hover img {
	filter: brightness(0) saturate(100%) invert(48%) sepia(82%) saturate(2568%) hue-rotate(178deg) brightness(95%) contrast(87%);
}

.hero {
	height: 600px;
	background-image: url('../img/pictures/wellcome.png');
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.hero h1 {
	max-width: 700px;
	height: 120px;
	font-family: "Roboto";
	font-size: 44px;
	font-weight: bold;
	letter-spacing: 2.4px;
	line-height: 1.3;
	margin-bottom: 27px;
}

.hero button {
	width: 200px;
	height: 50px;
	background-color: #2196F3; 
	color: white;
	border: none;
	font-family: "Roboto";
	letter-spacing: 1.2px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
	transition: filter 0.3s ease;
}

 button:hover {
	filter: brightness(80%);
}

.features-services {
	display: flex;
	flex-direction: column;
	padding: 95px 20px;
	text-align: center;
}

.feature-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.feature-card {
	width: 270px;
	height: 250px;
	display: flex;
	flex-direction: column;
}

.feature-card-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: #F5F4FA;
}

.feature-card img {
	width: 70px; 
	height: 70px;
}

.future-card-discription {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: transparent;
	text-align: left;
	letter-spacing: 0.6px;
}

.feature-card h3 {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
	color: #212121;
}

.feature-card p {
	font-family: "Roboto";
	font-size: 14px;
	color: #757575;
	line-height: 24px;
	margin-top: 10px;
}

.features-services h2 {
	font-family: "Roboto";
	font-size: 36px;
	font-weight: bold;
	margin-top: 97px;
	color: #212121;
}

.service-cards {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 55px;
}

.service-card {
	width: 370px;
	height: 295px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.service-card img {
	width: 100%; 
	height: 100%;
	object-fit: cover;
}

.service-card-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background: rgba(0, 0, 0, 0.6);
	text-align: center;
}

.service-card h3 {
	font-size: 18px;
	margin: 10px 0;
	color: #FFF;
}

.team {
	padding: 40px 20px;
	text-align: center;
	background-color: #F5F4FA;
}

.team h2 {
	font-family: "Roboto";
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 0.6px;
	margin: 56px 0;
	color: #212121;
}

.team-cards {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-bottom: 50px;
}

.team-card {
	width: 270px;
	height: 428px;
	background-color: #fff;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-card img {
	width: 100%;
	height: 260px;
	object-fit: cover;
}

.team-card h3 {
	font-family: "Roboto";
	font-size: 16px;
	color: #212121;
	letter-spacing: 0.6px;
	margin: 33px 0 13px;
}

.team-card p {
	font-family: "Roboto";
	font-size: 16px;
	color: #757575;
	margin-bottom: 15px;
}

.social-links {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.social-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}

.social-icon img {
	width: 20px;
	height: 20px;
	border-radius: 0px;
}

.social-icon:hover img {
	filter: brightness(0) invert(1); 
}

.social-icon:hover {
	background-color: #2196F3; 
	transform: scale(1.1); 
}

.clients {
	padding: 100px 20px 95px;
	text-align: center;
	background-color: #ffffff;
}

.clients h2 {
	font-family: "Roboto";
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 0.6px;
	color: #212121;
	margin-bottom: 54px;
}

.clients-logos {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.client-logo {
	width: 170px;
	height: 92px;
	border: 1px solid #AFB1B8;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border-color 0.3s ease, transform 0.3s ease;
	text-decoration: none;
}

.client-logo img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	transition: filter 0s;
}

.client-logo:hover {
	border-color: #2196F3;
}

.client-logo:hover img {
	filter: invert(42%) sepia(85%) saturate(2277%) hue-rotate(180deg) brightness(96%) contrast(92%);
}

.footer {
	background-color: #2c2e35;
	padding: 63px 20px;
	color: #ffffff;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1168px;
	margin: 0 auto;
	gap: 30px;
}

.footer-logo h2 {
	font-family: "Raleway";
	font-size: 26px;
	letter-spacing: 0.6px;
	color: #ffffff;
	margin-bottom: 23px;
}

.footer-logo h2 span {
	color: #2196F3;
}

.footer-logo p {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.6px;
	color: #b0b0b0;
	margin-bottom: 5px;
}

.footer-logo p:first-of-type {
	color: #ffffff;
}

.footer-social h3, .footer-subscribe h3 {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.6px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.footer-icons {
	display: flex;
	gap: 10px;
}

.footer-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #3c3f46;
}

.footer-icon img {
	width: 20px;
	height: 20px;
	border-radius: 0px;
}

.footer-icon:hover img {
	filter: brightness(0) invert(1); 
}

.footer-icon:hover {
	background-color: #2196F3; 
	transform: scale(1.1); 
}

.footer-subscribe .subscribe-form {
	display: flex;
	gap: 10px;
}

.subscribe-form input[type="email"] {
	width: 358px;
	padding: 10px;
	border: 1px solid #757575;
	border-radius: 2px;
	background-color: transparent;
	color: #ffffff;
	font-size: 14px;
	outline: none;
}

.subscribe-form input[type="email"]::placeholder {
	color: #757575;
}

.subscribe-form button {
	width: 200px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2196F3;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	cursor: pointer;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.2px;
	line-height: 30px;
	transition: background-color 0s;
}

.subscribe-form button img {
	width: 24px;
	height: 24px;
	margin-left: 5px;
}

.subscribe-form button:hover {
	background-color: #1e88e5;
}

.portfolio {
	padding: 95px 20px;
	text-align: center;
}

.portfolio-filter {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-bottom: 50px;
}

.filter-btn {
	font-family: "Roboto";
	font-size: 16px;
	height: 38px;
	padding: 0 22px;
	border-radius: 4px;
	color: #212121;
	background-color: #F5F4FA;
}

.filter-btn.active {
	background-color: #2196F3;
	color: #FFFFFF;
}


.portfolio-gallery {
	display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1170px;
}

.portfolio-item {
	position: relative;
	width: 100%;
	max-width: 370px;
	height: 404px;
	text-align: left;
	overflow: hidden;
	transition: transform 0.3s ease;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.portfolio-item:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
	width: 100%;
	height: auto;
}

.project-description {
	padding: 24px;
}

.project-title {
	font-family: "Roboto";
	font-size: 18px;
	font-weight: bold;
	color: #212121;
	margin-top: 5px;
	margin-bottom: 10px;
}

.project-category {
	font-family: "Roboto";
	font-size: 16px;
	color: #757575;
	margin-top: 20px;
}

.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 294px;
	background-color: rgba(33, 150, 243, 0.8);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	padding: 10px;
	text-align: center;
	font-size: 14px;
	font-family: "Roboto";
}

.portfolio-item:hover .portfolio-overlay {
	opacity: 1;
}

@media (max-width: 1450px) {
	.container {
		padding: 0 120px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.logo {
		width: 135px;
	}

	nav {
		width: 295px;
	}

	.contact-info {
		width: 180px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin: 0;
	}
	}
	
	/* Medienanfragen für 1200px */
	@media (max-width: 1200px) {
		.container {
			padding: 0 50px;
		}
		.logo {
			width: auto;
			font-size: 24px;
		}
		.contact-info p {
			margin-left: 20px;
		}
		nav {
			width: auto;
		}
	}
	
	/* Medienanfragen für 768px */
	@media (max-width: 768px) {
		.container {
			flex-direction: column;
			height: auto;
			padding: 10px;
			text-align: center;
		}
	
		.hero {
			height: 400px;
			padding: 20px;
		}
	
		.feature-cards, .team-cards, .clients-logos {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
		}
	
		.portfolio-gallery {
			grid-template-columns: 1fr;
		}
	
		.footer-content {
			grid-template-columns: 1fr;
			text-align: center;
		}
	}